useDynLib(MR.CUE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, qnorm, rnorm, var)
importFrom(utils, read.table)
importFrom(ggplot2, aes, element_text, geom_line, ggplot, labs, theme)
importFrom(mvtnorm, rmvnorm)
export(MRCUE)
export(MRCUEIndep)
export(MRCUESim)
export(ReadSummaryStat)
export(EstRho)
export(EstRhofun)
export(RemoveMHCCfun)
export(genRawGeno)
export(genSumStat)
export(summaryQC)
export(traceplot)
