useDynLib(MR.CUE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(MRCUE)
export(MRCUEIndep)
export(MRCUESim)
export(ReadSummaryStat)
export(EstRho)
export(EstRhofun)
export(RemoveMHCCfun)
export(genRawGeno)
export(genSumStat)
export(summaryQC)
export(traceplot)
